*{
    margin-right: 0px;
    margin-left: 0px;
    border: 0px;
    padding: 0px;
    border-right: 0px;
}


.foto{
    width: 850px;
    height: 100vh;
    margin: auto;
    align-items: center;

}
.container-fluid{
    align-items: center;
    background-color: rgb(119, 119, 119);
    border: 0px;
    display: flex;
    margin: -10px;
    padding: 0px;
    border-right: 0vh;
    
}
.nav-bar{
    color: orange;

}
.nav-link{
    color: orange;
}
.navbar-brand{
    display: flex;

}
.slide3{
    display: flex;
}

.container-fluid{
    border: 0px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    flex-flow: row;
    border-top: 10vh;
    
}
.h2{
    border: 0px;
    background-color: black;
    display: flex;
}
.bor{
    border: 0px;
}
.col-lg-6{
    border: 0px;
    color: whitesmoke;
    padding: 0px;
    
}
.contc{
    color: aliceblue;
    display: flex;
    padding: 50px;
    
}
.titulocont{
    text-align: center;
}
.barra{
    padding: 0vh;
}
.slide1{
    margin-top: 60px;
}
.texto1{
    margin-top: 50px;
}
.boton imagen{
    align-items: center;
    text-align: center;
}
.button{
    padding: 70px;
    border: 20vh;
    border: solid;
}
.foto1{
    height: 600px;
    width: 70vh;
    text-align: center;
    background-color: black;
    display: flex;
}
.fotodetalle{
    
    margin: auto;
    height: 450px;
    width: 100vh;
    text-align: center;
    background-color: black;
    display: flex;

}
.sl2{
    margin: auto;
    display: flex;
    align-items: center;
    border: none;
    padding: 0px;
    margin-right: 0px;
    height: 400px;

}
.detalle{
    height: 700px;
    margin: auto;
    width: 100vh;
    display: flex;
    border-radius: 10px;
    align-content: auto;
}
.foto{
    background-color: black;
}
.textodetalle{
    border: solid;
    color: whitesmoke;
    align-items: normal;
    font-size: large;
    font-weight: bolder;
    align-content: end;
}
.carta{
    background-color: black;
    color: aliceblue;
}